extends layout

block content
  div(class="center-align")
    h1(class="white-text") World-Series
    p(class="grey-text text-lighten-4") Check what portion of your life you spent on watching TV Series!.
    a(id="btn" class="waves-effect waves-light btn yellow accent-4 black-text" href="#") Let's Start
    div(id="ageInput" class="row" style="display: none")
        div(class="input-field col s4 offset-s4")
            i(class="mdi-social-mood prefix")
            input(id="icon_prefix" type="text" class="validate")
            label(for="icon_prefix") How old are you?
        div(class="col s4 offset-s4")
            a(class="waves-effect waves-light btn yellow accent-4 black-text" href="/series") Choose series
    script.
      (function() {
              document.getElementById("btn").onclick = function () {
                document.getElementById("ageInput").style.display = "block";
                document.getElementById("btn").style.display = "none";
              };
      })();